{% extends "blog/base.html" %}
{%block content%}
   
    <h1>links to skate shops</h1>
    <div class="content-section" >
    <a target='_' style=color:red href="https://www.elementbrand.com">element store</a>
    <br>
    <a target='_' style=color:red href="https://www.zumiez.com/">zumiez</a>
    <br>
    <a target='_' style=color:red href="https://planbskateboards.com/">plan b</a>
    <p style= font-size:15px>RISE Skateboard Shop
        Monon Square Shopping Center
        622 S Rangeline Rd
        (317) 843-9980</p>
    </div>
{%endblock content %}
