{% extends "blog/base.html" %}
{%block content%}
   
    <h1>Skate Gear</h1>
<div class="storefront">
    <div class="gear" >
            <h3>Decks</h3>
            
                <a target='_' style=color:rgb(182,133,70) href="https://www.elementbrand.com">Element</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://planbskateboards.com/">PlanB</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://www.palaceskateboards.com/">Palace</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="http://girlskateboards.com/kodak">Girl</a>
                <br>
                
            <h3>Wheels</h3>
            
                <a target='_' style=color:rgb(182,133,70) href="https://bones.com/">Bones</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://rictawheels.com/">Ricta</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="http://www.spitfirewheels.com/">Spitfire</a>
                <br>
                
            <h3>Trucks</h3>
            
                <a target='_' style=color:rgb(182,133,70) href="https://independenttrucks.com/">Independent</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://destructotrucks.com/">Destructo</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="http://www.thundertrucks.com/">Thunder</a>
                <br>
                
            <h3>Hardware</h3>
            
                <a target='_' style=color:rgb(182,133,70) href="https://www.skatewarehouse.com/hardware.html">Skate warehouse</a>
                <br>
                
            <h3>Griptape</h3>
            
                <a target='_' style=color:rgb(182,133,70) href="https://mobgrip.com/">Mob</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://www.grizzlygriptape.com/">Grizzly</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://www.griptape.com/">Jessup</a>
                <br>
                
            <h3>Shoes</h3>
            
                <a target='_' style=color:rgb(182,133,70) href="https://www.etnies.com/us">Etnies</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://www.emerica.com/us">Emerica</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://www.vans.com/">Vans</a>
                <br>
                
            <h3>Bearings</h3>
            
                <a target='_' style=color:rgb(182,133,70) href="https://bonesbearings.com/">Bones </a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://andalebearings.com/">Andale</a>
                <br>
                <a target='_' style=color:rgb(182,133,70) href="https://bronsonspeedco.com/">Bronson</a>
                <br>
                

    </div>
</div>

{%endblock content %}
<a target='_' style=color:red href=""></a>