{% extends "blog/base.html" %}
{%block content%}
   
    <h1>links to skate shops</h1>
    <div class="content-section" >
    <h3>Decks</h3>
    <a target='_' style=color:red href="https://www.elementbrand.com">element</a>
    <br>
    <a target='_' style=color:red href="https://planbskateboards.com/">plan b</a>
    <br>
    <a target='_' style=color:red href="https://www.palaceskateboards.com/">palace</a>
    <br>
    <a target='_' style=color:red href="http://girlskateboards.com/kodak">girl</a>
    <br>
    <h3>Wheels</h3>
    <a target='_' style=color:red href="http://www.spitfirewheels.com/">Spitfire</a>
    <br>
    <h3>Trucks</h3>
    <a target='_' style=color:red href="">independent</a>
    <h3>Hardware</h3>
    #<a>
    <h3>Griptape</h3>
    #<a>


    <h3>Local shops</h3>
    <p style= font-size:15px>RISE Skateboard Shop
        Monon Square Shopping Center
        622 S Rangeline Rd
        (317) 843-9980</p>
    </div>
{%endblock content %}
